*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-weight: normal;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

hr {
  height: 0;
  overflow: visible;
}

img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #2e2e2e;
}

.label {
  color: #1f1f1f;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.label:not(:last-child) {
  margin-bottom: 0.4em;
}

.label.is-small {
  font-size: 0.8rem;
}

.label.is-large {
  font-size: 1.2rem;
}

.label.is-xlarge {
  font-size: 1.4rem;
}

.input {
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  height: 2.85em;
  max-width: 100%;
  width: 100%;
  border: 0.1em solid #d1d1d1;
  border-radius: 0.1em;
  background-color: white;
  color: #2e2e2e;
  font-size: 1rem;
  line-height: 2.85em;
  transition: all 0.2s ease;
}

.input ~ .icon {
  color: #d1d1d1;
}

.input:hover {
  border-color: #c7c7c7;
  box-shadow: inset 0 0 0.15em #d1d1d1;
}

.input:focus {
  outline: 0;
  box-shadow: inset 0 0 0.15em #c2c2c2;
}

.input:focus ~ .icon {
  color: #2e2e2e;
}

.input.is-small {
  font-size: 0.8rem;
}

.input.is-large {
  font-size: 1.2rem;
}

.input.is-xlarge {
  font-size: 1.4rem;
}

.input.is-primary {
  border-color: #6e35e9;
}

.input.is-primary:hover {
  border-color: #6123e7;
  box-shadow: inset 0 0 0.15em #6e35e9;
}

.input.is-primary:focus {
  box-shadow: 0 0 0.15em #5a1ae6;
}

.input.is-success {
  border-color: #32cd8f;
}

.input.is-success:hover {
  border-color: #2ebd84;
  box-shadow: inset 0 0 0.15em #32cd8f;
}

.input.is-success:focus {
  box-shadow: 0 0 0.15em #2cb57e;
}

.input.is-info {
  border-color: #08b3f7;
}

.input.is-info:hover {
  border-color: #07a5e4;
  box-shadow: inset 0 0 0.15em #08b3f7;
}

.input.is-info:focus {
  box-shadow: 0 0 0.15em #079eda;
}

.input.is-warning {
  border-color: #ffdb4d;
}

.input.is-warning:hover {
  border-color: #ffd738;
  box-shadow: inset 0 0 0.15em #ffdb4d;
}

.input.is-warning:focus {
  box-shadow: 0 0 0.15em #ffd52e;
}

.input.is-danger {
  border-color: #ff476f;
}

.input.is-danger:hover {
  border-color: #ff335f;
  box-shadow: inset 0 0 0.15em #ff476f;
}

.input.is-danger:focus {
  box-shadow: 0 0 0.15em #ff2957;
}

.input.is-white {
  border-color: white;
}

.input.is-white:hover {
  border-color: whitesmoke;
  box-shadow: inset 0 0 0.15em white;
}

.input.is-white:focus {
  box-shadow: 0 0 0.15em #f0f0f0;
}

.input.is-link {
  border-color: transparent;
}

.input.is-link:hover {
  border-color: transparent;
  box-shadow: inset 0 0 0.15em transparent;
}

.input.is-link:focus {
  box-shadow: 0 0 0.15em transparent;
}

.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select:not(.has-multiple):after {
  border: 0.1em solid #d1d1d1;
  border-right: 0;
  border-top: 0;
  display: block;
  width: 0.5em;
  height: 0.5em;
  pointer-events: none;
  position: absolute;
  transform: rotate(-45deg);
  transform-origin: center;
  margin-top: -0.28em;
  top: 50%;
  right: 1em;
  z-index: 2;
  content: " ";
}

.select ~ .icon {
  color: #d1d1d1;
}

.select:focus ~ .icon {
  color: #2e2e2e;
}

.select.is-small select {
  font-size: 0.8rem;
}

.select.is-large select {
  font-size: 1.2rem;
}

.select.is-xlarge select {
  font-size: 1.4rem;
}

.select.is-primary select {
  border-color: #6e35e9;
}

.select.is-primary select:hover {
  border-color: #6123e7;
  box-shadow: inset 0 0 0.15em #6e35e9;
}

.select.is-primary select:focus {
  box-shadow: 0 0 0.2em #5a1ae6;
}

.select.is-success select {
  border-color: #32cd8f;
}

.select.is-success select:hover {
  border-color: #2ebd84;
  box-shadow: inset 0 0 0.15em #32cd8f;
}

.select.is-success select:focus {
  box-shadow: 0 0 0.2em #2cb57e;
}

.select.is-info select {
  border-color: #08b3f7;
}

.select.is-info select:hover {
  border-color: #07a5e4;
  box-shadow: inset 0 0 0.15em #08b3f7;
}

.select.is-info select:focus {
  box-shadow: 0 0 0.2em #079eda;
}

.select.is-warning select {
  border-color: #ffdb4d;
}

.select.is-warning select:hover {
  border-color: #ffd738;
  box-shadow: inset 0 0 0.15em #ffdb4d;
}

.select.is-warning select:focus {
  box-shadow: 0 0 0.2em #ffd52e;
}

.select.is-danger select {
  border-color: #ff476f;
}

.select.is-danger select:hover {
  border-color: #ff335f;
  box-shadow: inset 0 0 0.15em #ff476f;
}

.select.is-danger select:focus {
  box-shadow: 0 0 0.2em #ff2957;
}

.select.is-white select {
  border-color: white;
}

.select.is-white select:hover {
  border-color: whitesmoke;
  box-shadow: inset 0 0 0.15em white;
}

.select.is-white select:focus {
  box-shadow: 0 0 0.2em #f0f0f0;
}

.select.is-link select {
  border-color: transparent;
}

.select.is-link select:hover {
  border-color: transparent;
  box-shadow: inset 0 0 0.15em transparent;
}

.select.is-link select:focus {
  box-shadow: 0 0 0.2em transparent;
}

.select select {
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  height: 2.85em;
  max-width: 100%;
  width: 100%;
  border: 0.1em solid #d1d1d1;
  border-radius: 0.1em;
  background-color: white;
  color: #2e2e2e;
  font-size: 1rem;
  line-height: 2.85em;
  transition: all 0.2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 2.5em;
}

.select select ~ .icon {
  color: #d1d1d1;
}

.select select:hover {
  border-color: #c7c7c7;
  box-shadow: inset 0 0 0.15em #d1d1d1;
}

.select select:focus {
  outline: 0;
  box-shadow: inset 0 0 0.15em #c2c2c2;
}

.select select:focus ~ .icon {
  color: #2e2e2e;
}

.select select[multiple] {
  padding: 0;
  height: auto;
}

.select select[multiple] option {
  padding: 0.5em;
}

.textarea {
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  height: 2.85em;
  max-width: 100%;
  width: 100%;
  border: 0.1em solid #d1d1d1;
  border-radius: 0.1em;
  background-color: white;
  color: #2e2e2e;
  font-size: 1rem;
  line-height: 2.85em;
  transition: all 0.2s ease;
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: 0.8em;
  line-height: 1.5em;
  resize: vertical;
}

.textarea ~ .icon {
  color: #d1d1d1;
}

.textarea:hover {
  border-color: #c7c7c7;
  box-shadow: inset 0 0 0.15em #d1d1d1;
}

.textarea:focus {
  outline: 0;
  box-shadow: inset 0 0 0.15em #c2c2c2;
}

.textarea:focus ~ .icon {
  color: #2e2e2e;
}

.textarea:not([rows]) {
  max-height: 36em;
  min-height: 6.4em;
}

.textarea[rows] {
  height: unset;
}

.textarea.is-small {
  font-size: 0.8rem;
}

.textarea.is-large {
  font-size: 1.2rem;
}

.textarea.is-xlarge {
  font-size: 1.4rem;
}

.textarea.is-primary {
  border-color: #6e35e9;
}

.textarea.is-primary:hover {
  border-color: #6123e7;
  box-shadow: inset 0 0 0.15em #6e35e9;
}

.textarea.is-primary:focus {
  box-shadow: inset 0 0 0.2em #5a1ae6;
}

.textarea.is-success {
  border-color: #32cd8f;
}

.textarea.is-success:hover {
  border-color: #2ebd84;
  box-shadow: inset 0 0 0.15em #32cd8f;
}

.textarea.is-success:focus {
  box-shadow: inset 0 0 0.2em #2cb57e;
}

.textarea.is-info {
  border-color: #08b3f7;
}

.textarea.is-info:hover {
  border-color: #07a5e4;
  box-shadow: inset 0 0 0.15em #08b3f7;
}

.textarea.is-info:focus {
  box-shadow: inset 0 0 0.2em #079eda;
}

.textarea.is-warning {
  border-color: #ffdb4d;
}

.textarea.is-warning:hover {
  border-color: #ffd738;
  box-shadow: inset 0 0 0.15em #ffdb4d;
}

.textarea.is-warning:focus {
  box-shadow: inset 0 0 0.2em #ffd52e;
}

.textarea.is-danger {
  border-color: #ff476f;
}

.textarea.is-danger:hover {
  border-color: #ff335f;
  box-shadow: inset 0 0 0.15em #ff476f;
}

.textarea.is-danger:focus {
  box-shadow: inset 0 0 0.2em #ff2957;
}

.textarea.is-white {
  border-color: white;
}

.textarea.is-white:hover {
  border-color: whitesmoke;
  box-shadow: inset 0 0 0.15em white;
}

.textarea.is-white:focus {
  box-shadow: inset 0 0 0.2em #f0f0f0;
}

.textarea.is-link {
  border-color: transparent;
}

.textarea.is-link:hover {
  border-color: transparent;
  box-shadow: inset 0 0 0.15em transparent;
}

.textarea.is-link:focus {
  box-shadow: inset 0 0 0.2em transparent;
}

.checkbox, .radio {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.checkbox[disabled], .checkbox input[disabled], .radio[disabled], .radio input[disabled] {
  cursor: not-allowed;
}

.checkbox input, .radio input {
  cursor: pointer;
  vertical-align: 0.1em;
}

.note {
  display: block;
  font-size: 0.8rem;
  margin-top: 0.25em;
}

.note:not(:last-child) {
  margin-bottom: 0.5em;
}

.note.is-primary {
  color: #6e35e9;
}

.note.is-success {
  color: #32cd8f;
}

.note.is-info {
  color: #08b3f7;
}

.note.is-warning {
  color: #ffdb4d;
}

.note.is-danger {
  color: #ff476f;
}

.note.is-white {
  color: white;
}

.note.is-link {
  color: transparent;
}

.field.is-wide {
  flex-grow: 1;
  flex-shrink: 1;
}

.field.is-wide .select {
  width: 100%;
  display: block;
}

.field.is-wide .select select {
  width: 100%;
  max-width: 100%;
}

.field:not(:last-child) {
  margin-bottom: 0.85em;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.icon.is-small {
  font-size: 0.8rem;
}

.icon.is-large {
  font-size: 1.2rem;
}

.icon.is-xlarge {
  font-size: 1.4rem;
}

.control {
  position: relative;
}

.control.has-icon-left input, .control.has-icon-left select {
  padding-left: 2em;
}

.control.has-icon-left .icon.is-left {
  left: 0;
}

.control.has-icon-right input {
  padding-right: 2em;
}

.control.has-icon-right .icon.is-right {
  right: 0;
}

.control .icon {
  top: 0;
  position: absolute;
  width: 2em;
  height: 2.85em;
  text-align: center;
  z-index: 2;
  pointer-events: none;
}

.fields {
  display: flex;
  justify-content: flex-start;
}

.fields .field {
  flex-shrink: 0;
}

.fields .field:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0.75em;
}

.fields .field:last-child {
  margin-bottom: 0.75em;
}

.button {
  display: inline-block;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  padding-left: 1em;
  height: 2.85em;
  border: 0.1em solid #ebebeb;
  border-radius: 0.1em;
  background-color: #ebebeb;
  color: #2e2e2e;
  text-decoration: none;
  font-size: 1rem;
  line-height: 2.65em;
  transition: all 0.2s ease;
  cursor: pointer;
}

.button strong {
  color: inherit;
}

.button .icon {
  position: relative;
  top: -0.125em;
  font-size: 0.7em;
}

.button *:not(:last-child) {
  margin-right: 0.25em;
}

.button:hover:not([disabled]) {
  border-color: #e0e0e0;
  background-color: #e0e0e0;
  text-decoration: none;
}

.button:active:not([disabled]) {
  border-color: #b8b8b8;
  background-color: #b8b8b8;
}

.button:focus {
  box-shadow: 0 0 0.2em #b8b8b8 inset;
  outline: none;
}

.button:disabled {
  opacity: 0.6;
  cursor: default;
}

.button.is-small {
  font-size: 0.8rem;
}

.button.is-large {
  font-size: 1.2rem;
}

.button.is-xlarge {
  font-size: 1.4rem;
}

.button.is-primary {
  background-color: #6e35e9;
  border-color: #6e35e9;
  color: white;
}

.button.is-primary:hover:not([disabled]) {
  border-color: #6123e7;
  background-color: #6123e7;
}

.button.is-primary:active:not([disabled]) {
  border-color: #4112a5;
  background-color: #4112a5;
}

.button.is-primary:focus {
  box-shadow: 0 0 0.2em #4112a5 inset;
}

.button.is-primary.is-hollow {
  border-color: #6e35e9;
  color: #6e35e9;
}

.button.is-primary.is-hollow:hover:not([disabled]) {
  border-color: #6e35e9;
  background-color: #6e35e9;
  color: white;
}

.button.is-success {
  background-color: #32cd8f;
  border-color: #32cd8f;
  color: white;
}

.button.is-success:hover:not([disabled]) {
  border-color: #2ebd84;
  background-color: #2ebd84;
}

.button.is-success:active:not([disabled]) {
  border-color: #1e7b56;
  background-color: #1e7b56;
}

.button.is-success:focus {
  box-shadow: 0 0 0.2em #1e7b56 inset;
}

.button.is-success.is-hollow {
  border-color: #32cd8f;
  color: #32cd8f;
}

.button.is-success.is-hollow:hover:not([disabled]) {
  border-color: #32cd8f;
  background-color: #32cd8f;
  color: white;
}

.button.is-info {
  background-color: #08b3f7;
  border-color: #08b3f7;
  color: white;
}

.button.is-info:hover:not([disabled]) {
  border-color: #07a5e4;
  background-color: #07a5e4;
}

.button.is-info:active:not([disabled]) {
  border-color: #056c94;
  background-color: #056c94;
}

.button.is-info:focus {
  box-shadow: 0 0 0.2em #056c94 inset;
}

.button.is-info.is-hollow {
  border-color: #08b3f7;
  color: #08b3f7;
}

.button.is-info.is-hollow:hover:not([disabled]) {
  border-color: #08b3f7;
  background-color: #08b3f7;
  color: white;
}

.button.is-warning {
  background-color: #ffdb4d;
  border-color: #ffdb4d;
  color: #2e2e2e;
}

.button.is-warning:hover:not([disabled]) {
  border-color: #ffd738;
  background-color: #ffd738;
}

.button.is-warning:active:not([disabled]) {
  border-color: #e6b800;
  background-color: #e6b800;
}

.button.is-warning:focus {
  box-shadow: 0 0 0.2em #e6b800 inset;
}

.button.is-warning.is-hollow {
  border-color: #ffdb4d;
  color: #ffdb4d;
}

.button.is-warning.is-hollow:hover:not([disabled]) {
  border-color: #ffdb4d;
  background-color: #ffdb4d;
  color: #2e2e2e;
}

.button.is-danger {
  background-color: #ff476f;
  border-color: #ff476f;
  color: white;
}

.button.is-danger:hover:not([disabled]) {
  border-color: #ff335f;
  background-color: #ff335f;
}

.button.is-danger:active:not([disabled]) {
  border-color: #e00031;
  background-color: #e00031;
}

.button.is-danger:focus {
  box-shadow: 0 0 0.2em #e00031 inset;
}

.button.is-danger.is-hollow {
  border-color: #ff476f;
  color: #ff476f;
}

.button.is-danger.is-hollow:hover:not([disabled]) {
  border-color: #ff476f;
  background-color: #ff476f;
  color: white;
}

.button.is-white {
  background-color: white;
  border-color: white;
  color: white;
}

.button.is-white:hover:not([disabled]) {
  border-color: whitesmoke;
  background-color: whitesmoke;
}

.button.is-white:active:not([disabled]) {
  border-color: #cccccc;
  background-color: #cccccc;
}

.button.is-white:focus {
  box-shadow: 0 0 0.2em #cccccc inset;
}

.button.is-white.is-hollow {
  border-color: white;
  color: white;
}

.button.is-white.is-hollow:hover:not([disabled]) {
  border-color: white;
  background-color: white;
  color: white;
}

.button.is-link {
  background-color: transparent;
  border-color: transparent;
  color: #2e2e2e;
}

.button.is-link:hover:not([disabled]) {
  border-color: transparent;
  background-color: transparent;
}

.button.is-link:active:not([disabled]) {
  border-color: transparent;
  background-color: transparent;
}

.button.is-link:focus {
  box-shadow: 0 0 0.2em transparent inset;
}

.button.is-link.is-hollow {
  border-color: transparent;
}

.button.is-link.is-hollow:hover:not([disabled]) {
  border-color: transparent;
  background-color: transparent;
  color: #2e2e2e;
}

.button.is-hollow {
  background-color: transparent;
  border-color: #d1d1d1;
  color: #2e2e2e;
}

.button.is-hollow:hover:not([disabled]) {
  background-color: #d1d1d1;
  border-color: #d1d1d1;
  color: #2e2e2e;
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.buttons .button {
  margin-bottom: 0.4rem;
}

.buttons .button:not(:last-child) {
  margin-right: 0.4rem;
}

.buttons:last-child {
  margin-bottom: -0.4rem;
}

.buttons:not(:last-child) {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=gnarl.css.map */