*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-weight: normal;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

hr {
  height: 0;
  overflow: visible;
}

img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #2e2e2e;
}

.button {
  display: inline-block;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  padding-left: 1em;
  height: 2.85em;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  background-color: #ebebeb;
  color: #2e2e2e;
  text-decoration: none;
  font-size: 1rem;
  line-height: 2.85em;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.button strong {
  color: inherit;
}

.button .icon {
  position: relative;
  top: -0.125em;
  font-size: 0.7em;
}

.button *:not(:last-child) {
  margin-right: 0.25em;
}

.button:hover:not([disabled]) {
  border-color: #dbdbdb;
  background-color: #dbdbdb;
  text-decoration: none;
}

.button:disabled {
  opacity: 0.6;
  cursor: default;
}

.button.is-small {
  font-size: 0.8rem;
}

.button.is-large {
  font-size: 1.2rem;
}

.button.is-xlarge {
  font-size: 1.4rem;
}

.button.is-primary {
  background-color: #6e35e9;
  border-color: #6e35e9;
  color: white;
}

.button.is-primary:hover:not([disabled]) {
  border-color: #5a1ae6;
  background-color: #5a1ae6;
}

.button.is-primary.is-hollow {
  color: #6e35e9;
}

.button.is-primary.is-hollow:hover:not([disabled]) {
  border-color: #6e35e9;
  background-color: #6e35e9;
  color: white;
}

.button.is-success {
  background-color: #32cd8f;
  border-color: #32cd8f;
  color: white;
}

.button.is-success:hover:not([disabled]) {
  border-color: #2cb57e;
  background-color: #2cb57e;
}

.button.is-success.is-hollow {
  color: #32cd8f;
}

.button.is-success.is-hollow:hover:not([disabled]) {
  border-color: #32cd8f;
  background-color: #32cd8f;
  color: white;
}

.button.is-info {
  background-color: #08b3f7;
  border-color: #08b3f7;
  color: white;
}

.button.is-info:hover:not([disabled]) {
  border-color: #079eda;
  background-color: #079eda;
}

.button.is-info.is-hollow {
  color: #08b3f7;
}

.button.is-info.is-hollow:hover:not([disabled]) {
  border-color: #08b3f7;
  background-color: #08b3f7;
  color: white;
}

.button.is-warning {
  background-color: #ffdb4d;
  border-color: #ffdb4d;
  color: #2e2e2e;
}

.button.is-warning:hover:not([disabled]) {
  border-color: #ffd52e;
  background-color: #ffd52e;
}

.button.is-warning.is-hollow {
  color: #ffdb4d;
}

.button.is-warning.is-hollow:hover:not([disabled]) {
  border-color: #ffdb4d;
  background-color: #ffdb4d;
  color: #2e2e2e;
}

.button.is-danger {
  background-color: #ff476f;
  border-color: #ff476f;
  color: white;
}

.button.is-danger:hover:not([disabled]) {
  border-color: #ff2957;
  background-color: #ff2957;
}

.button.is-danger.is-hollow {
  color: #ff476f;
}

.button.is-danger.is-hollow:hover:not([disabled]) {
  border-color: #ff476f;
  background-color: #ff476f;
  color: white;
}

.button.is-white {
  background-color: white;
  border-color: white;
  color: white;
}

.button.is-white:hover:not([disabled]) {
  border-color: #f0f0f0;
  background-color: #f0f0f0;
}

.button.is-white.is-hollow {
  color: white;
}

.button.is-white.is-hollow:hover:not([disabled]) {
  border-color: white;
  background-color: white;
  color: white;
}

.button.is-link {
  background-color: transparent;
  border-color: transparent;
  color: #2e2e2e;
}

.button.is-link:hover:not([disabled]) {
  border-color: transparent;
  background-color: transparent;
}

.button.is-link.is-hollow:hover:not([disabled]) {
  border-color: transparent;
  background-color: transparent;
  color: #2e2e2e;
}

.button.is-hollow {
  background-color: transparent;
  color: #2e2e2e;
}

.button.is-hollow:hover:not([disabled]) {
  background-color: #ebebeb;
  border-color: #ebebeb;
  color: #2e2e2e;
}

/*# sourceMappingURL=groundwork.css.map */