// Typography
$font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif !default;
$font-monospace: monospace !default;
$font-size: 1rem !default;
$font-size-small: $font-size * 0.8 !default;
$font-size-large: $font-size * 1.2 !default;
$font-size-xlarge: $font-size * 1.4 !default;

// Colors
$primary: hsl(259, 80%, 56%) !default;
$info: hsl(197, 94%, 50%) !default;
$success: hsl(156, 61%, 50%) !default;
$warning: hsl(48, 100%, 65%) !default;
$danger: hsl(347, 100%, 64%) !default;
$gray: hsl(0, 0%, 18%) !default;
$gray-light: hsl(0, 0%, 82%) !default;
$gray-lighter: hsl(0, 0%, 92%) !default;
$white: hsl(0, 0%, 100%) !default;
$black: hsl(0, 0%, 4%) !default;

// Body
$body-background-color: white !default;
$body-text-rendering: optimizeLegibility !default;
$body-font-family: $font-sans-serif !default;
$body-font-size: $font-size !default;
$body-font-weight: 300 !default;
$body-line-height: 1.5 !default;
$body-color: $gray !default;

// Miscellaneous
$scroll-behavior: smooth !default;
$border-radius: 2px !default;