$navbar-height: 3.95rem !default;
$navbar-logo-height: 1.1rem !default;
$navbar-font-size: $font-size !default;
$navbar-item-spacing: 0.6em !default;
$navbar-padding: 0.4em $navbar-item-spacing !default;

.navbar {
  background-color: white;
  display: flex;
  align-items: stretch;
  padding: 0 $gap;
  height: $navbar-height;
  font-size: $navbar-font-size;
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
  color: $gray;

  @each $name, $color in $state {
    &.is-#{$name} {
      background-color: $color;

      @if $name == warning or $name == link {
        color: $gray;
      } @else if $name == white {
        color: $primary;
      } @else {
        color: $white;
      }

      @if $name != white {
        .navbar-item {
          &:after {
            background-color: rgba(255,255,255,0.4);
          }

          &.is-active {
            &:after {
              background-color: $white;
            }
          }
        }
      } @else {
        .navbar-item {
          &:after {
            background-color: $gray-light;
          }

          &.is-active {
            &:after {
              background-color: $primary;
            }
          }
        }
      }
    }
  }

  > *:first-child:not(.contain) {
    margin-left: -$navbar-item-spacing;
  }

  > *:last-child:not(.contain) {
    margin-right: -$navbar-item-spacing;
  }

  .contain {
    display: flex;
    align-items: center;
    height: $navbar-height;

    > *:first-child {
      margin-left: -$navbar-item-spacing;
    }

    > *:last-child {
      margin-right: -$navbar-item-spacing;
    }
  }
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  padding: $navbar-padding;
  font-size: $font-size-large;
  white-space: nowrap;
  color: inherit;

  .navbar-logo {
    width: auto;
    max-height: $navbar-logo-height;
  }
}

.navbar-nav, .navbar-start, .navbar-end {
  display: flex;
  align-items: stretch;
}

.navbar-nav {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: $navbar-padding;
  color: inherit;

  &:after {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 -1px;
    height: 3px;
    background-color: $gray-light;
    content: '';
    transition: all 0.2s ease-in-out;
  }

  &:not(:hover):not(.is-active):after {
    visibility: hidden;
    opacity: 0;
  }

  &:not(a) {
    &:after {
      display: none;
    }
  }

  &.is-active {
    &:after {
      background-color: $primary;
    }
  }
}