$button-font-size: $font-size !default;
$button-height: 2.65em !default;
$button-padding: 1em !default;
$button-border-radius: 0.1em !default;
$button-border-size: 1px !default;
$button-line-height: $body-line-height !default;

.button {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: $button-padding;
  padding-left: $button-padding;
  height: $button-height;
  border: $button-border-size solid $gray-lighter;
  border-radius: $button-border-radius;
  background-color: $gray-lighter;
  color: $gray;
  text-decoration: none;
  font-size: $button-font-size;
  line-height: $button-line-height;
  transition: all 0.2s ease;
  cursor: pointer;

  strong {
    color: inherit;
  }

  .icon {
    font-size: 0.7em;
  }

  *:not(:last-child) {
    margin-right: 0.5em;
  }

  &:hover:not([disabled]) {
    border-color: darken($gray-lighter, 4%);
    background-color: darken($gray-lighter, 4%);
    text-decoration: none;
  }

  &:active:not([disabled]) {
    border-color: darken($gray-lighter, 20%);
    background-color: darken($gray-lighter, 20%);
  }

  &:focus {
    box-shadow: 0 0 0.2em darken($gray-lighter, 20%) inset;
    outline: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  @each $size, $multipler in $scale {
    &.is-#{$size} {
      font-size: $multipler;
    }
  }

  @each $name, $color in $state {
    &.is-#{$name} {
      background-color: $color;
      border-color: $color;

      @if $name == warning or $name == link {
        color: $gray;
      } @else if $name == white {
        color: $primary;
      } @else {
        color: $white;
      }

      &:hover:not([disabled]) {
        border-color: darken($color, 4%);
        background-color: darken($color, 4%);
      }

      &:active:not([disabled]) {
        border-color: darken($color, 20%);
        background-color: darken($color, 20%);
      }

      &:focus {
        box-shadow: 0 0 0.2em darken($color, 20%) inset;
      }

      &.is-hamburger {
        span {
          @if $name == warning or $name == link {
            background-color: $gray;
          } @else if $name == white {
            background-color: $primary;
          } @else {
            background-color: $white;
          }
        }
      }

      &.is-hollow {
        border-color: $color;

        @if $name == link {
          color: $gray;
        } @else {
          color: $color;
        }

        &.is-hamburger {
          span {
            @if $name == warning or $name == link {
              background-color: $gray;
            } @else {
              background-color: $white;
            }
          }
        }

        &:hover:not([disabled]) {
          border-color: $color;
          background-color: $color;

          @if $name == warning or $name == link {
            color: $gray;
          } @else if $name == white {
            color: $primary;
          } @else {
            color: $white;
          }

          &.is-hamburger {
            span {
              @if $name == warning or $name == link {
                background-color: $gray;
              } @else if $name == white {
                background-color: $primary;
              } @else {
                background-color: $white;
              }
            }
          }
        }
      }
    }
  }

  &.is-hamburger {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $button-padding / 1.5;

    span {
      background-color: $gray;
      display:block;
      width: 1.6em;
      height: 1px;
      margin: 0;
    }
  }

  &.is-hollow {
    background-color: transparent;
    border-color: $gray-light;
    color: $gray;

    &:hover:not([disabled]) {
      background-color: $gray-light;
      border-color: $gray-light;
      color: $gray;
    }
  }

  &.is-borderless {

    &:not(:hover) {
      border-color: transparent !important;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

  .button {
    margin-bottom: 0.4rem;

    &:not(:last-child) {
      margin-right: 0.4rem;
    }
  }

  &:last-child {
    margin-bottom: -0.4rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}