$button-font-size: $font-size !default;
$button-line-height: 2.85em !default;
$button-height: 2.85em !default;
$button-padding: 1em !default;
$button-border-radius: 2px !default;

$button: (
  types: (
    primary: $primary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    white: $white,
    link: transparent
  ),
  sizes: (
    small: $font-size-small,
    large: $font-size-large,
    xlarge: $font-size-xlarge,
  )
);

.button {
  display: inline-block;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: $button-padding;
  padding-left: $button-padding;
  height: $button-height;
  border: 1px solid $gray-lighter;
  border-radius: $button-border-radius;
  background-color: $gray-lighter;
  color: $gray;
  text-decoration: none;
  font-size: $button-font-size;
  line-height: $button-line-height;
  transition: all 0.2s ease;
  cursor: pointer;

  strong {
    color: inherit;
  }

  .icon {
    position: relative;
    top: -0.125em;
    font-size: 0.7em;
  }

  *:not(:last-child) {
    margin-right: 0.25em;
  }

  &:hover:not([disabled]) {
    border-color: darken($gray-lighter, 4%);
    background-color: darken($gray-lighter, 4%);
    text-decoration: none;
  }

  &:active:not([disabled]) {
    border-color: darken($gray-lighter, 20%);
    background-color: darken($gray-lighter, 20%);
  }

  &:focus {
    box-shadow: 0 0 0.2em darken($gray-lighter, 20%) inset;
    outline: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  @each $size, $multipler in get($button, sizes) {
    &.is-#{$size} {
      font-size: $multipler;
    }
  }

  @each $name, $hsl in get($button, types) {
    &.is-#{$name} {
      background-color: $hsl;
      border-color: $hsl;

      @if $name == warning or $name == link {
        color: $gray;
      } @else {
        color: $white;
      }

      &:hover:not([disabled]) {
        border-color: darken($hsl, 4%);
        background-color: darken($hsl, 4%);
      }

      &:active:not([disabled]) {
        border-color: darken($hsl, 20%);
        background-color: darken($hsl, 20%);
      }

      &:focus {
        box-shadow: 0 0 0.2em darken($hsl, 20%) inset;
      }

      &.is-hollow {
        border-color: $hsl;

        @if $name != link {
          color: $hsl;
        }

        &:hover:not([disabled]) {
          border-color: $hsl;
          background-color: $hsl;

          @if $name == warning or $name == link {
            color: $gray;
          } @else {
            color: $white;
          }
        }
      }
    }
  }

  &.is-hollow {
    background-color: transparent;
    border-color: $gray-light;
    color: $gray;

    &:hover:not([disabled]) {
      background-color: $gray-light;
      border-color: $gray-light;
      color: $gray;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

  .button {
    margin-bottom: 0.4rem;

    &:not(:last-child) {
      margin-right: 0.4rem;
    }
  }

  &:last-child {
    margin-bottom: -0.4rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}